
<md-card class="appCard"md-colors="::{backgroundColor: 'default-primary-50'}">
     <md-card-title>
       <md-card-title-text>
			<div layout="column"" layout-align="center center">
				<md-card class="appCard">
					<md-card-header-text md-colors="::{backgroundColor: 'default-primary-700'}">
					     <h3 class="md-title">Book metting</h3>
					</md-card-header-text>
			        <md-card-title>
			          <md-card-title-text>
						      <form class="meetingForm appCard" name="userForm">
						      	<div class="dateRow" layout-gt-xs="row">
						      		<div layout-gt-xs="column">
						      			<h3>Date:</h3>
						      		</div>
						      		<div layout-gt-xs="column">
						      			<md-input-container>
						            		<label>Date</label>
						            		<md-datepicker ng-model="meetingDate"></md-datepicker>
						          		</md-input-container>
						      		</div>
						      	</div>
						      	<div class="timeRow" layout-gt-sm="row">
						      		<div layout-gt-sm="column">
        								<div>
							              <h3>From:</h3>
							              <input type="text" class="startTimeInput" ng-model="startTime" name="start_time" class="timepicker" placeholder="h:mm PM" data-default-time="false">
							              
							            </div>
						      		</div>
						      		<div layout-gt-xs="column">
        								<div>
							              <h3>To:</h3>
							              <input type="text" class="endTimeInput" ng-model="endTime" name="start_time" class="timepicker" placeholder="h:mm PM" data-default-time="false">
							            </div>
						      		</div>
						      	</div>
						      	<md-card-actions layout="row" layout-align="end center">
			         				 <md-button class="md-raised md-accent" ng-click="getRooms()">Get Rooms</md-button>
			        			</md-card-actions>
						      </form>
			          </md-card-title-text>
			        </md-card-title>
			        
			     </md-card>
			</div>
       </md-card-title-text>
     </md-card-title>
</md-card>

<div ng-if="showRooms" ng-init='status=1'>
	<md-card class="appcard">
		<md-card-header-text md-colors="::{backgroundColor: 'default-primary-700'}">
			<h3 class="md-title">Available rooms</h3>
		</md-card-header-text>
		<md-card-actions layout="row" layout-align="start center">
			<div class="boxWidth" ng-repeat="room in rooms">
				<div ng-class="{1:'green', 0:'red'}[status]" ><h4 style="padding: 10px;">{{room}}</h4></div>
				<div id="bookBtn"><md-button class="md-raised" md-colors="::{backgroundColor: 'default-background-300'}">Book</md-button></div>
			</div>
		</md-card-actions>
	</md-card>    
</div>
